
.chat {
    width: 75%;
    max-width: 75%;
}

.chat-info {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-inline: 1.25em;
    height: 9%;
    background-color: var(--primary-dark);

    .hmbg-menu {
        background-color: var(--primary-dark);
        border: none;
        display: none;

        & > img {
            height: 40px;
            width: 40px;
        }  
    }

    .user-profile-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    & > span {
        color: var(--primary-white);
        font-weight: 700;
        font-size: 1.125rem;
    }

    .app-tittle {
        margin-left: auto;
        opacity: .5;
    }
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 91%;
}

@media (max-width: 1100px) {
    .chat {
        width: 100%;
        max-width: none;
    }

    .chat-info {
        .hmbg-menu {
            display: inline-block;
        }
    }
}

@media (max-width: 370px) {
    .chat-info {
        .user-profile-img {
            display: none;
        }
    }
}